@charset "UTF-8";
/* CSS Document */

/*Remove this rule on your HTML elements as you start to fill them with content*/

.box-color {
  color: #fff;
  background: #000;
  text-align: center;
  margin: 0;
}

/*basic reset*/

/*browsers have built in values for elements so we'll reset a few things to zero, you can add to this or remove items as needed*/

div,
p,
body,
header,
footer,
section,
article,
nav {
  margin: 0;
  padding: 0;
}

img {
  border: none; /*Remove border if image is a link*/
  margin: 0;
  padding: 0;
}

/*html selectors*/

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  background-color: antiquewhite;
}

/* Remove underlines from links */

a {
  text-decoration: none;
}

/*hide elements from browser but show for doc outline*/

.hidden {
  display: none;
}

/*Common page elements  */

/*This is essentially a box that we place the whole site in.  
We center the box using margin 0 auto and give it a fixed width of 1920px.
1920px would fit a large monitor or tv. Sizes will vary depending on the projects
you work on and the intended audience */

#container {
  margin: 0 auto;
  width: 1920px;
}

/* this is our grid based off of our XD file */
.grid-con {
  display: grid;
  grid-template-columns: repeat(12, 122px);
  grid-column-gap: 16px;
  padding-left: 140px;
  padding-right: 140px;
  background-color: antiquewhite;
}

#header-con {
  background-color: antiquewhite;
}

#header-box1 {
  grid-column: 1/3;
  /* Remove as content will dictate height */
  height: 80px;
}

#main-nav {
  grid-column: 3/11;
  /* Remove as content will dictate height */
  height: 80px;
  background-color: #000;
}

#main-nav ul {
  list-style-type: none;
}

#main-nav ul li {
  display: inline;
}

#footer-nav ul li {
  display: inline;
}

#header-box2 {
  grid-column: 11/-1;
  /* Remove as content will dictate height */
  height: 80px;
}

/* Specific to index page desktop  */

#hero {
  margin-top: 100px;
}

#hero-text {
  text-shadow: 12px 12px 12px black;
  box-shadow: 12px 12px 12px black;
  grid-column: 3/10;
  /* Remove as content will dictate height */
  height: 582px;
  background-image: url(https://media.istockphoto.com/photos/right-lane-of-a-freshly-paved-asphalt-road-diminishing-perspective-picture-id89898451?k=20&m=89898451&s=612x612&w=0&h=xhbYv5Sb6EgkCSWgSalFAi-kqVDp2PNw3sybADrm4Os=);
  background-repeat: no-repeat;
  background-size: 950px 800px;
  font-size: xx-large;
  filter: blur(1px);
}

#hero-image {
  grid-column: 8/-1;
  /* Remove as content will dictate height */
  height: 595px;
  width: 815px;
}

#products {
  margin-top: 100px;
  margin-bottom: 100px;
}

#products h2 {
  grid-column: 1/-1;
  text-align: center;
}

#product1 {
  grid-column: 1/5;
  /* Remove as content will dictate height */
  height: 507px;
}

#product2 {
  grid-column: 5/9;
  /* Remove as content will dictate height */
  height: 507px;
}

#product3 {
  grid-column: 9/-1;
  /* Remove as content will dictate height */
  height: 507px;
}

.product-box {
  background-color: #ddd;
}

#about-con {
  background-color: #ddd;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: antiquewhite;
}

#about-title {
  text-align: center;
}

#about-text {
  grid-column: 1/12;
  /* Remove as content will dictate height */
  height: 740px;
  background-image: url("../img/tree_branch.JPG");
  background-repeat: no-repeat;
  background-size: 1501px 740px;
  text-shadow: 24px 24px 24px black;
  box-shadow: 12px 12px 12px black;
  font-size: xx-large;
}

#about-image {
  grid-column: 8/-1;
  /* Remove as content will dictate height */
  height: 700px;
}

#contact {
  text-shadow: 24px 24px 24px black;
  box-shadow: 12px 12px 12px black;
  margin-top: 100px;
  margin-bottom: 100px;
}

#contact-text {
  grid-column: 1/8;
}

#contact-form {
  grid-column: 8/-1;
  background-image: url("../img/Seashells.JPG");
  background-repeat: no-repeat;
  background-size: 1901px 740px;
}

/*Common page elements  */

#footer-con {
  background-color: antiquewhite;
  padding-top: 50px;
  padding-bottom: 20px;
}

#footer-logo {
  grid-column: 1/3;
  /* Remove as content will dictate height */
  height: 80px;
}

#footer-nav {
  grid-column: 3/-1;
  /* Remove as content will dictate height */
  height: 80px;
  margin-bottom: 100px;
}

#footer-newsletter1 {
  grid-column: 1/5;
  /* Remove as content will dictate height */
  height: 80px;
  background-color: antiquewhite;
}

#footer-newsletter2 {
  grid-column: 5/7;
  /* Remove as content will dictate height */
  height: 80px;
  background-color: antiquewhite;
}

#footer-social {
  grid-column: 11/-1;
  /* Remove as content will dictate height */
  height: 80px;
  box-shadow: 12px 12px 12px black;
}

/* gallery page */

#gallery-hero-con {
  background-color: #aaaaaa;
  background: url("https://via.placeholder.com/1920x580");
  height: 580px;
}

#gallery-text {
  grid-column: 1/9;
  /* Remove as content will dictate height */
  height: 200px;
  margin-top: 100px;
}

#gallery-controls {
  margin-top: 200px;
  grid-column: 6/8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  background-color: #dddddd;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 5px;
}

#gallery h2 {
  grid-column: 1/-1;
  text-align: center;
}

.gallery-box {
  background-color: #ddd;
  grid-column: span 4 / span 4;
  margin-bottom: 20px;
}

.GalleryImages {
  width: fit-content;
  height: 355px;
}

.SignImages {
  transition: 0.5s;
  margin-left: 55px;
  width: fit-content;
  height: 255px;
}

.SignImages:hover {
  transition: 0.5s;
  /* padding-top: 50px; */
  /* height: 265px; */
  border-radius: 125px;
  filter: blur(3px);
  filter: grayscale();
}

.Logo {
  width: 220%;
}

.LogoGallery {
  width: 95%;
  margin-top: 15px;
}

.FooterLogo {
  width: 220%;
  height: 30%;
  background-color: black;
}

.MenuBar {
  background-color: burlywood;
  width: 15%;
  height: 15%;
  transition: 0.5s;
  float: right;
  box-shadow: 2px 2px 2px black;
}

.MenuBar:hover {
  transition: 0.5s;
  box-shadow: 4px 4px 4px black;
}

.TextButton {
  margin-left: 50px;
  text-decoration: none;
  color: white;
  /* float: right; */
  transition: 0.5s;
  font-size: x-large;
}

.TextButton:hover {
  font-style: italic;
  transition: 0.5s;
  box-shadow: 3px 3px 3px white;
}

.center {
  text-align: center;
}

#AboutUs {
  font-size: xx-large;
}

#TwitterFooter {
  position: static;
  height: 80px;
  width: 80px;
}

#TwitterFooter:hover {
  box-shadow: 3px 3px 3px black;
  transition: 0.5s;
}

#FacebookFooter {
  position: static;
  height: 80px;
  width: 80px;
}

#FacebookFooter:hover {
  box-shadow: 3px 3px 3px black;
  transition: 0.5s;
}

#InstagramFooter {
  position: static;
  height: 80px;
  width: 80px;
  right: 8%;
}

#InstagramFooter:hover {
  box-shadow: 3px 3px 3px black;
  transition: 0.5s;
}

#TwitterHeader {
  position: static;
  height: 80px;
  width: 80px;
}

#TwitterHeader:hover {
  box-shadow: 3px 3px 3px black;
  transition: 0.5s;
}

#FacebookHeader {
  position: static;
  height: 80px;
  width: 80px;
}

#FacebookHeader:hover {
  box-shadow: 3px 3px 3px black;
  transition: 0.5s;
}

#InstagramHeader {
  position: static;
  height: 80px;
  width: 80px;
  right: 8%;
}

#InstagramHeader:hover {
  box-shadow: 3px 3px 3px black;
  transition: 0.5s;
}

#input {
  width: 25px;
  box-shadow: 12px 12px 12px black;
}

#InputEmail {
  width: 145px;
}

#InputButton {
  box-shadow: 1px 2px 3px black;
  cursor: pointer;
}

#subject {
  box-shadow: 1px 2px 3px black;
  width: 250px;
}

#right-float {
  float: right;
}

.footer {
  box-shadow: 2px 2px 2px;
  margin-right: 75%;
  background-color: black;
}

#Title {
  transition: 0.5s;
  background-color: rgb(197, 179, 179);
}

#Title:hover {
  transition: 0.5s;
  background-color: gray;
}

#NewsletterEmail {
  width: 250px;
  height: 16px;
}

#NewsletterSubmitButton {
  cursor: pointer;
  box-shadow: 1px 2px 3px black;
  width: 259px;
}

.Towns {
  padding-left: 160px;
  width: fit-content;
  height: fit-content;
}
